{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}


{% block content %}
<div class="row row-flex product-row mx-auto">
    {% for product in products %}
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card-deck product-deck h-100">
            <div class="card product-card">
                <div class="product-body h-100">
                    <div class="img-thumbnail">
                        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="photo of product" class="product-img">
                    </div>

                    <h4 class="product-title">{{ product.name }}</h4>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-price">$ {{ product.price }} NZD</p>

                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-product-group">
                            <input class="product-qty" name="quantity" type="number" min="1" max="999" class="form-control"
                                placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-sm" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}