* {
    margin: 0;
    padding: 0;
}

/*-----------------COLOURS--------------------*/

.index-title, .index-p {
    color: #fff;
}

.index-shop-btn {
    background-color: #fff;
    color: #504747;
}

.nav-item {
    color: rgb(112, 104, 104);
}

.navbar-light, .navbar-brand {
    color: rgb(112, 104, 104);
}

.nav-item:hover{
    color: rgb(112, 104, 104);
}

/*----------------------------------------------GENERAL*/

.base-container {
    margin-top: 100px;
}

/*----------------------------------------------NAVBAR*/

.nav-item {
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    padding: 10px;
    margin-right: 10px;
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    padding: 10px;
}


/*----------------------------------------------INDEX*/

.bg-img {
    background-image: url(/static/media/images/avo-eye.jpg); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
} 




/*--------------------------------------------REGISTER*/


/*---------------------------------------------FOOTER*/

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

