* {
    margin: 0;
    padding: 0;
}

/*-----------------COLOURS--------------------*/

.nav-item {
    color: #706868;
}

.nav-item:hover {
    color: #d8c3c3;
}

.navbar-light, .navbar-brand {
    color: #706868;
}

.navbar-light, .navbar-brand:hover {
    color: #d8c3c3;
}

.post-title {
    color: #706868;
}

/*----------------------------------------------GENERAL*/

.base-container {
    margin-top: 100px;
    font-family: 'Tahoma', sans-serif;
}

.alert-success {
    margin-top: 100px;
}

.body {
    font-family: 'Tahoma', sans-serif;
    color: #706868;
}

/*----------------------------------------------NAVBAR*/

.nav-item {
    font-family: 'Tahoma', cursive;
    font-size: 1.5em;
    padding: 10px;
    margin-right: 10px;
}

.nav-item:hover {
    text-decoration: none;
}

.navbar-light, .navbar-brand {
    font-family: 'Tahoma', cursive;
    font-size: 2em;
    padding: 10px;
}


/*----------------------------------------------INDEX*/

.bg-img {
    background-image: url("{{ STATIC_IMG_URL }}avo-eye.jpg"); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
} 






/*--------------------------------------------REGISTER*/


/*------------------------------------------------BLOG*/

.blogpost-row, .blogmedia-row {
    width: 95%;
}

.post-title {
    font-family: 'Tahoma', cursive;
    font-size: 1.5em;
    padding: 10px;
}

/*------------------------------------------------PRODUCTS*/

.product-body {
    padding: 2%;
    box-shadow: 10px 10px 5px 0px rgba(219,204,219,1);

}

.input-product-group {
    width: 20%;
}

/*---------------------------------------------FOOTER*/

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}


/*-------------------MEDIA----------------------------*/

/*-------------------TABLET---------------------------*/

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
}

/*------------------DESK TOP--------------------------*/

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) { 

    .blogpost-row, .blogmedia-row {
        width: 80%;
    }

 }