* {
    margin: 0;
    padding: 0;
}

/*-----------------COLOURS--------------------*/

body {
    background-color: #e3e5e7 !important;
    color: #706868;
}   

.nav-item, .navbar-toggler, .product-title, .bin {
    color: #706868;
}

.nav-item:hover {
    color: #a79d9d;
}

.navbar-light a.navbar-brand, .cart-title   {
    color: #706868;
}

.navbar-light a.navbar-brand:hover {
    color: #a79d9d;
}

.navbar-light.scroll {
    background-color: #fff;
}

.fa-shopping-cart {
    background-color: #28a745
}

.banner {
    color: #fff;
}

.btn .btn-light {
    color: #adb5bd;
    background-color: #fff
}

.blog-card, .checkout-container, .cart-container {
    background-color: #fff;
}

.post-title {
    color: #706868;
}

.product-body {
    color: #706868;
}

.product-body:hover {
    background-color: #969e98d9;
    color: #fff;
}

.cross {
    color: #e01010;
}

.total {
    background: rgba(51,163,76,1);
    background: linear-gradient(to right, rgba(51,163,76,1) 0%, rgba(51,163,76,1) 49%, rgba(113,243,104,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a34c', endColorstr='#71f368', GradientType=1 );
    padding: 1%;
}

footer {
    background-color: #fff;
}

/*----------------------------------------------GENERAL*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.alert-success {
    margin-top: 100px;
    background-color: #fff;
}

/*----------------------------------------------NAVBAR*/

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 10px;
}

.nav-item:hover {
    text-decoration: none;
}

a.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding-top: 0;
    margin-left: 20px;
}


/*----------------------------------------------INDEX*/

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
} 

.banner {
    font-family: 'Montserrat', sans-serif;
    margin-right: 9%;
    margin-top: 130%;
    padding-top: 22%;
    text-align: center;
}

.banner-title {
    font-size: 3em;
}

.banner + footer {
    background-color: transparent;
}

.btn .btn-light {
    font-size: 2em;
    margin-bottom: 30px;
}

/*--------------------------------------------REGISTER*/

.reg-container {
    margin-top: 15vh;
} 

.reg-title {
    font-family: 'Montserrat', sans-serif;
}

.reg-btn {
    padding: 3px;
}

.bg-sign-img {
    display: none;
}

form + footer {
    background-color: transparent;
}

/*--------------------------------------PASSWORD RESET*/

.reset-form {
    margin-top: 20vh;
    margin-left: 2%;
}

.reset-btn {
    margin-top: 5%;
}

/*----------------------------------------------LOGIN*/

.registration-prompt {
    padding: 0;
    margin-left: 300px;
}
.prompt {
    margin-top: 30vh;
}

.login-title {
    font-family: 'Montserrat', sans-serif;
}

.login-btn {
    padding: 3px;
}

.reset {
    margin-top: 20px
}

.reset-link {
    font-size: 1.2em;
}



/*------------------------------------------------BLOG*/

.blog-deck {
    margin-top: 10vh;
}

.blog-card:last-of-type {
    margin-bottom: 15vh;
}

.blog-card {
    font-family: 'Roboto', sans-serif;
    padding: 2%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3%;
    width: 80%;
    box-shadow: 10px 10px 5px 0px rgba(219,204,219,1);
}

.post-title {
    font-family: 'Roboto', cursive;
    font-size: 1.5em;
    padding: 10px;
    padding-left: 0;
}

.img-circle {
    border-radius: 60%;
    height: 20vh;
}

.author {
    margin-top: 2%;
}

.blog-story {
    margin-bottom: 0;
}

/*------------------------------------------------PRODUCTS*/

.product-row {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin-top: 15vh;
}

.product-row:last-of-type {
    margin-bottom: 10vh;
}

.product-body {
    padding: 5%;
    box-shadow: 10px 10px 5px 0px rgba(219,204,219,1);
}

.card, .product-card {
    margin-bottom: 5%;
}

.product-title {
    font-weight: 500;
    margin-top: 2%;
    font-weight: 600;
}

.product-price {
    font-weight: 600;
}

.product-img {
    max-width:100%;
    max-height:100%;
}

.product-qty {
    width: 50%;
}

/*-----------------------------------------------CART*/

.cart-container {
    margin-top: 20vh;
    margin-bottom: 15vh;
    box-shadow: 10px 10px 5px 0px rgba(219,204,219,1);
}

.cart-row {
    margin-top: 10vh;
}

.amend-btn {
    margin-left: 2%
}

.cross {
    border: none;
    background: none;
}

.cart-media, .cart-media-title {
    display: none;
}

.cart-img {
    width: 100px;
}

.cart-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding: 10px;
}



/*--------------------------------------------CHECKOUT*/


.total {
    font-size: 1.2em;
    margin-top:2%;
}

#payment-form {
    margin-bottom: 10vh;
}


/*---------------------------------------------FOOTER*/

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
    font-size: 1.2em;
    padding-top: 1%;
}


/*-------------------MEDIA----------------------------*/

/*-------------------TABLET---------------------------*/

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    body {
        font-size: 150%;
    }
    
    .navbar {
        background-color: transparent;
    }

    a.navbar-brand {
        font-size: 2.5em;
    }

    .banner {
        margin-top: 2%;
        margin-left: 58%;
    }

    .cart-media, .cart-media-title {
        display: block;
    }

    .checkout-items-row {
        float: right;
        margin-right: 5vh;
        width: 50%;
    }

    #payment-form {
        margin-left: 10%;
        margin-top: 2vh;
    }

}

/*------------------DESK TOP--------------------------*/

/*Large devices (desktops, 999px and up)*/

@media (min-width: 999px) { 

    body {
        font-size: 150%;
    }

    a.navbar-brand {
        font-size: 2.5em;
    }

    .nav-item {
        font-size: 1.3em;
    }
    
    .blogpost-row {
        width: 80%;
    }

    .bg-sign-img {
        display: block;
        background: rgba(246, 242, 246, 0.726);
    }

    .reg-container, .login-container {
        width: 30%;
        float: left;
        margin-left: 300px;
    }

    
 }


 /*Extra large devices (desktops, 1200px and up)*/
 @media (min-width: 1200px) {

    a.navbar-brand {
        font-size: 3em;
    }

    .nav-item {
        font-size: 1.5em;
    }

 }