{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<!--SUMMARY-->
<div class="row d-flex summary text-center">
    <div class="col-sm-12 checkout-summary">
        <h6><a href="{% url 'registration' %}">Have you registered?</a> Registered customers will enjoy additional
            bonuses
            such as easy ordering with order history.</h6>
    </div>
</div>
<!--CHECKOUT ITEMS-->
<div class="row d-flex justify-content-center checkout-items-row">
        <div class="col-lg-5 col-sm-12 checkout-items-col">
            <hr>
            <h5 class="text-center">Summary</h5>
            <hr>
            {% for item in cart_items %}
                <div class="d-flex summary-items">  
                    <p class="p-2 flex-grow-1 bd-highlight">{{ item.product.name }}</p>
                    <p class="p-2 bd-highlight">Qty: {{ item.quantity }} &nbsp;</p>
                    <p class="p-2 bd-highlight checkout-qty">${{ item.product.price }}</p>
                </div>
            {% endfor %}
                <hr>
            <!--CHECKOUT TOTAL-->
            <div class="text-center checkout-total">
                <p class="d-flex justify-content-end total"><strong>Total: &nbsp; ${{ total }}</strong></p>
            </div>
            <hr>
        </div>
    </div>
<!--CHECKOUT FORM-->
<div class="col-lg-7 col-sm-12 checkout-form">
    <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>

        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="payment-group col-md-8">
            {{ order_form | as_bootstrap }}
        </div>

        <div class="payment-group col-md-8">
            {{ payment_form | as_bootstrap }}
        </div>

        {% csrf_token %}
        <div class="payment-group col-md-8">
            <input class=" btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>


{% endblock %}