{% extends 'base.html' %}

{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="row">
        <div class="col-sm-12">
            <div class="bg-img" style="background-image:url('{{ MEDIA_URL }}images/avo-eye.jpg')">
                <!-- BACKGROUND IMAGE -->
                <div class="index-banner">
                    <h1 class="index-title">Keto Pantry</h1>
                    <h3 class="index-p">A healthy body starts from the inside</h3>
                    <button class="index-shop_btn btn-lg btn" type="button" >Shop</button>
                </div>     
            </div>
        </div>
    </div>
{% endblock %}