{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}


{% block content %}
<!--REGISTRATION PROMPT-->
<body class="bg-sign-img" style="background-image: url({% static 'media/images/tape_measure.jpg' %})"></body>
<div class="row d-flex prompt">
    <div class="col-sm-12 registration-prompt">
        <p><a href="{% url 'registration' %}" class="have-you"><strong>Have you registered?</strong></a> You must be registered to login and shop.</p>
    </div>
</div>
<!--LOGIN FORM-->
<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form class="login-form" method="POST">
        {% csrf_token %}
        {{ login_form|as_bootstrap }}
        <button class="login-btn" type="submit">Login</button>
        <p class="reset"><a class="reset-link" href="{% url 'password_reset' %}">Reset Password</a></p>
    </form>
</div>
{% endblock %}