{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}


{% block content %}
<div class="login-container">
    <body class="bg-sign-img" style="background-image: url({% static 'media/images/tape_measure.jpg' %})"></body>
    <h2 class="login-title">Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|as_bootstrap }}
        <button class="login-btn" type="submit">Login</button>
        <p class="reset"><a class="reset-link" href="{% url 'password_reset' %}">Reset Password</a></p>
    </form>
</div>
<footer>
    <div class="container-fluid">
        <p>Copyright &copy; Holly Horwood</p>
    </div>
</footer>
{% endblock %}