{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block page_title %}{{ user }}'s Profile{% endblock %}
{% block page_heading %}{{ user }}'s Profile{% endblock %}
{% block messages %}
<div class="messages-status-success center">

    {% if messages %}
    {% for message in messages %}
    <p class='center'>{{ message }}</p>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}

{% block content %}


<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto">
    <div class="card profile-card border-secondary mb-5">
        <div class="card-header w-100 text-center">Welcome {{ user }}</div>
        <div class="profile-body h-100 w-100 text-secondary">
            <table class='profile-table'>
                <tr>
                    <td>Username:&nbsp&nbsp;</td>
                    <td>{{ profile }}</td>
                </tr>
                <tr>
                    <td>Email:&#09; &nbsp;</td>
                    <td>{{ profile.email}}</td>
                </tr>
            </table>
            <hr>
            <a class="btn btn-danger text-center" href="{% url 'password_reset' %}">Change Your Password</a>
            <hr>
            <div class="profile-shop">
                <a href="/products/" class="shop-button btn-success btn" tabindex="0">Start shopping</a>
            </div>
            <hr>
            <h4 class="text-center mt-4 mb-4">YOUR ORDER HISTORY</h4>
            {% for order in orders %}
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Order {{ order.date }}
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p><b>Date Ordered:</b> {{ order.date }}</p>
                            <p><b>Order ID:</b> {{ order.id }}</p>
                            <hr>
                            <h6 class="text-center"><strong>YOUR ORDER WILL BE SHIPPED TO:</strong></h6>
                            <hr>
                            <p><b>Name:</b> {{ order.full_name }}</p>
                            <p><b>Phone:</b> {{ order.phone_number }}</p>
                            <p><b>Address 1:</b> {{ order.street_address1 }}</p>
                            <p><b>Address 2:</b> {{ order.street_address2 }}</p>
                            <p><b>Town/City:</b> {{ order.town_or_city }}</p>
                            <p><b>Region:</b> {{ order.region }}</p>
                            <p><b>Country:</b> {{ order.country }}</p>
                            <p><b>Postcode:</b> {{ order.postcode }}</p>
                            <hr>
                            <h6 class="text-center"><strong>ITEMS TO BE DELIVERED:</strong></h6>
                            <table class="table table-hover">
                                <tbody>
                                    {% for item in cart_items %}
                                    <tr>
                                        <td class="text-left align-middle">{{ item.product.name }}</td>
                                        <td class="text-right align-middle">${{ item.product.price }}</td>
                                    </tr>
                                    
                                    {% endfor %}
                                    <tr>
                                        <td class="text-left"><strong>Total</strong></td>
                                        <td class="text-right"><strong>${{ total }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>        
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock %}