{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block content %}
<div class="reg-container">
    <body class="bg-sign-img" style="background-image: url({% static 'media/images/tape_measure.jpg' %})"></body>
    <h2 class="reg-title"> Register </h2>
    <p>If you already have an account, you can <a href="{% url 'login' %}">sign in </a></p>
    <form class="reg-form" method="POST">
        {% csrf_token %} {{ registration_form|as_bootstrap }}
        <button class="reg-btn" type="submit">Register</button>
    </form>
</div>
{% endblock %}