{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block content %}

<div class="container checkout-container">
        <div class="my-5">
            <h2>Your Cart</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td><img src="{{ MEDIA_URL }}{{ product.image }}" alt="photo of product" class="product-img"></td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price }}</td>
                    <td><i class="fas fa-trash-alt"></i></td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td colspan="2">Total</td>
                    <td>$10000</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="3" class="text-right ">
                        <button class="btn btn-success mr-4">Proceed To Checkout</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}